{% extends 'layout.html' %}
{% block title %}Add Receipts{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Add Receipts</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Add Receipts</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body px-0 pt-0 pb-2">
            <!-- <h3 class="m-4 mb-0">Add Ingoing or Outgoing Receipts</h3> -->
            <form class="py-4 px-5" action="/add-receipts" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
              <div class="row g-4">
                <div class="col-md-3">
                  <label for="exampleFormControlInput1" class="form-label">Date <span style="color: red;">*</span></label>
                  <input type="date" class="form-control" name="date" >
                </div>
                <div class="col-md-9">
                  <label for="exampleFormControlInput1" class="form-label">Reference</label>
                  <input type="text" class="form-control" name="reference" >
                </div>
                <div class="col-md-3" >
                  <label for="exampleFormControlInput1" class="form-label">Paid By <span style="color: red;">*</span></label>
                    <select class="form-control"  name="paid_by_type" id="paid_by_type" onchange="changevalueofpaidbytype()">
                      <option value="other">Other</option>
                      <option value="customer">Customer</option>
                      <option value="supplier">Supplier</option>
                    </select>   
                </div> 
                <div class="col-md-9">
                  <label for="exampleFormControlInput1" class="form-label"><span style="color: red;">*</span></label>
                  <span id="paid_by_name">
                      <input type="text" class="form-control" name="other_name" >
                    </span>
                  </div>
                <div class="col-md-3" >
                  <label for="exampleFormControlInput1" class="form-label">Received in <span style="color: red;">*</span></label>
                    <select class="form-control" name="received_in_account" id="contact">
                      {% for i in bank_accounts %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {% endfor %}
                    </select>                  
                </div>
                <div class="col-md-9">
                  <label for="exampleFormControlInput1" class="form-label">Exp Account</label>
                  <select name="exp_account" class="form-control" id="">
                    <option value="Accounting feesExpenses">Accounting feesExpenses</option>
                    <option value="Accounts receivable">Accounts receivable</option>
                    <option value="Advertising and promotion">Advertising and promotion</option>
                    <option value="Bank charges">Bank charges</option>
                    <option value="Capital gains on investments">Capital gains on investments</option>
                    <option value="Computer equipment">Computer equipment</option>
                    <option value="Donations">Donations</option>
                    <option value="Electricity">Electricity</option>
                    <option value="Employee clearing account">Employee clearing account</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="GOS SHAFAY SOFTWARE">GOS SHAFAY SOFTWARE</option>
                    <option value="INAYAT/SHARIQ PROFIT">INAYAT/SHARIQ PROFIT</option>
                    <option value="Interest received">Interest received</option>
                    <option value="Inventory - cost">Inventory - cost</option>
                    <option value="Inventory - sales">Inventory - sales</option>
                    <option value="Inventory on hand">Inventory on hand</option>
                    <option value="Legal fees">Legal fees</option>
                    <option value="Motor vehicle expenses">Motor vehicle expenses</option>
                    <option value="Printing and stationery">Printing and stationery</option>
                    <option value="Rent">Rent</option>
                    <option value="Repairs and maintenance">Repairs and maintenance</option>
                    <option value="Retained earnings">Retained earnings</option>
                    <option value="Sales">Sales</option>
                    <option value="Telephone">Telephone</option>
                  </select>
                </div>
                <div class="col-md-12">
                  <label for="exampleFormControlInput1" class="form-label">Description</label>
                  <input type="text" class="form-control" name="desc" id="" cols="30" rows="1"
                    ></input>
                </div>

                <div class="col-md-3">
                  <label for="exampleFormControlInput1" class="form-label">Amount</label>
                  <input class="form-control" type="number" name="amount" id="">
                </div>

                <div class="mt-4 col-md-12">
                  <button type="submit" class="btn my_btn01 w-100"
                    style="background:purple; color:white">Add</button>
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <a href="/view-receipts" class="btn btn-danger">View All</a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- /.content -->

<script>
    function changevalueofpaidbytype(){
          var select = document.getElementById('paid_by_type');
          var value = select.options[select.selectedIndex].value;
          if (value == "customer"){
            div = document.getElementById("paid_by_name");
            div.innerHTML=``
            div.innerHTML =`
                        <select class="form-control" name="customer" id="">
                      {% for i in customers %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {% endfor %}
                    </select>   `
          }
          if (value == "supplier"){
            div = document.getElementById("paid_by_name");
            div.innerHTML=``
            div.innerHTML =`
                        <select class="form-control" name="supplier" id="">
                      {% for i in suppliers %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {% endfor %}
                    </select>   `
          }
          if (value == "other"){
            div = document.getElementById("paid_by_name");
            div.innerHTML=``
            div.innerHTML =`
                        <input type="text" class="form-control" name="other_name" >`
          }
          console.log(value);
  }
</script>

{% endblock %}