{% extends 'layout.html' %}
{% block title %} Add Pricing & Quantity{% endblock %}
{% block head %}
<!-- <link rel="stylesheet" href="https://gosvision.pk/css/soft-ui-dashboard.css"> -->
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Add Pricing & Quantity</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Add Pricing & Quantity</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body px-0 pt-0 pb-2">
                        <h3 class="m-4 mb-0">Add Price And Quantity</h3>
                        <form class="py-4 px-5" action="/add-pricing-qty" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
                            <div class="row g-4">

                                <div class="col-md-12 mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Select Lense Name</label>
                                    <select name="lense_name" class="form-control" id="">
                                        <option disabled selected value="">Select Lense Name</option>
                                        {% for i in lense %}
                                        <option value="{{i[1]}}">{{i[1]}}</option>
                                        {% endfor %}
                                    </select>
                                </div>


                                <div class="col-md-6  mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Select Cylinder</label>
                                    <select name="cylinder" class="form-control" id="">
                                        <option value="">Select Category</option>
                                        <option value="0">0</option>
                                        <option value="0.25">0.25</option>
                                        <option value="0.5">0.5</option>
                                        <option value="0.75">0.75</option>
                                        <option value="1">1</option>
                                        <option value="1.25">1.25</option>
                                        <option value="1.5">1.5</option>
                                    </select>
                                </div>


                                <div class="col-md-6  mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Select Spherical</label>
                                    <select name="spherical" class="form-control" id="">
                                        <option value="">Select Spherical</option>
                                        <option value="0">0</option>
                                        <option value="0.25">0.25</option>
                                        <option value="0.5">0.5</option>
                                        <option value="0.75">0.75</option>
                                        <option value="1">1</option>
                                        <option value="1.25">1.25</option>
                                        <option value="1.5">1.5</option>
                                    </select>
                                </div>


                                <div class="col-md-6  mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Quantity Left</label>
                                    <input type="number" class="form-control" name="quantity_left"
                                        placeholder="Enter Quantity Left">
                                </div>

                                <div class="col-md-6  mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Quantity Right</label>
                                    <input type="number" class="form-control" name="quantity_right"
                                        placeholder="Enter Quantity Right">
                                </div>


                                <div class="col-md-6  mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Price</label>
                                    <input type="number" class="form-control" placeholder="Enter Price" name="price">
                                </div>
                                <div class="mt-4 col-md-12  mb-2">
                                    <button type="submit" class="btn my_btn01 w-100"
                                        style="background:purple; color:white">Submit</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <a href="/view-all-pricing" class="btn btn-danger">View All Price &amp;
                        Quantity</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>
</section>
<!-- /.content -->

{% endblock %}