{% extends 'layout.html' %} 
{% block title %}Add User{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Add User</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Add User</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<!-- alert -->
{% if error %}
<div class="alert alert-success">
  <strong>Oops!</strong>{{error}}.
</div>
{% endif %}
<!-- alert  -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body px-0 pt-0 pb-2">
                        <h3 class="m-4 mb-0">Add User</h3>
                        <form class="py-4 px-5" action="/add-user" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">                            <div class="row g-4">
                                <div class="col-md-12 mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">User Name</label>
                                    <input type="text" class="form-control" name="name" placeholder="User Name" value="">
                                                                    </div>


                                <div class="col-md-12 mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">User Email</label>
                                    <input type="text" class="form-control" name="email" placeholder="User Email" value="">
                                                                    </div>

                                <div class="col-md-12 mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Select Branch</label>
                                    <select name="branch" class="form-control" id="">
                                        <option selected disabled value="">Select Branch</option>
                                        {% for i in branch %}
                                                                                    <option value="{{i[1]}}">{{i[1]}}</option>
                                          {% endfor %}
                                                                            </select>
                                                                    </div>


                                <div class="col-md-12 mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password" value="">
                                                                    </div>

                                <div class="col-md-12 mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
                                    <input type="confirm_password" class="form-control" name="confirm_password" placeholder="Brand Security Code" value="">
                                                                    </div>

                                <div class="col-md-12 mb-2">
                                    <label for="exampleFormControlInput1" class="form-label">Security Code</label>
                                    <input type="text" class="form-control" name="security_code" placeholder="User Security Code" value="">
                                                                    </div>

                                <div class="mt-4 col-md-12 mb-2">
                                    <button type="submit" class="btn my_btn01 w-100" style="background:purple; color:white">Submit</button>
                                </div>
                        
                    </div></form>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a href="/all-users" class="btn btn-danger">View All Users</a>
            </div>
        </div>
    </div>

    </div>
</section>
<!-- /.content -->

{% endblock %}