{% extends 'layout.html' %}
{% block title %}Edit Receipts{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Edit Receipts</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title"><strong>Edit Receipts</strong></h3>

            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
              <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button> -->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body" style="display: block">
            <div class="row">
            
              <form class="py-4 px-5" action="/edit-receipts/{{data[0]}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
                <div class="row g-4">
                  <div class="col-md-3">
                    <label for="exampleFormControlInput1" class="form-label">Date <span style="color: red;">*</span></label>
                    <input type="date" class="form-control" name="date" value="{{data[1]}}" >
                  </div>
                  <div class="col-md-9">
                    <label for="exampleFormControlInput1" class="form-label">Reference</label>
                    <input disabled type="text" class="form-control" name="reference" value="{{data[2]}}" >
                  </div>
                  <div class="col-md-3" >
                    <label for="exampleFormControlInput1" class="form-label">Paid By <span style="color: red;">*</span></label>
                      <select class="form-control"  name="paid_by_type" id="paid_by_type" onchange="changevalueofpaidbytype()">
                        {% if data[3] == "other" %}
                        <option selected value="other">Other</option>
                        <option value="customer">Customer</option>
                        <option value="supplier">Supplier</option>
                        {% elif data[3] == "customer" %}
                        <option value="other">Other</option>
                        <option selected value="customer">Customer</option>
                        <option value="supplier">Supplier</option>
                        {% elif data[3] == "supplier" %}
                        <option value="other">Other</option>
                        <option value="customer">Customer</option>
                        <option selected value="supplier">Supplier</option>
                        {% endif %}
                      </select>   
                  </div> 
                  <div class="col-md-9">
                    <label for="exampleFormControlInput1" class="form-label"><span style="color: red;">*</span></label>
                    <span id="paid_by_name">
                        <input type="text" class="form-control" name="other_name" required>
                        <!-- <input type="text" class="form-control" name="{{data[3]}}"  value="{{data[5]}}"> -->
                      </span>
                    </div>
                  <div class="col-md-3" >
                    <label for="exampleFormControlInput1" class="form-label">Received in <span style="color: red;">*</span></label>
                      <select class="form-control" name="received_in_account" id="contact">
                        {% for i in bank_accounts %}
                        <option value="{{i[0]}}">{{i[1]}}</option>
                        {% endfor %}
                      </select>                  
                  </div>
                  <div class="col-md-9">
                    <label for="exampleFormControlInput1" class="form-label">Exp Account</label>
                    <select name="exp_account" class="form-control" id="">
                      <option value="Accounting feesExpenses">Accounting feesExpenses</option>
                      <option value="Accounts receivable">Accounts receivable</option>
                      <option value="Advertising and promotion">Advertising and promotion</option>
                      <option value="Bank charges">Bank charges</option>
                      <option value="Capital gains on investments">Capital gains on investments</option>
                      <option value="Computer equipment">Computer equipment</option>
                      <option value="Donations">Donations</option>
                      <option value="Electricity">Electricity</option>
                      <option value="Employee clearing account">Employee clearing account</option>
                      <option value="Entertainment">Entertainment</option>
                      <option value="GOS SHAFAY SOFTWARE">GOS SHAFAY SOFTWARE</option>
                      <option value="INAYAT/SHARIQ PROFIT">INAYAT/SHARIQ PROFIT</option>
                      <option value="Interest received">Interest received</option>
                      <option value="Inventory - cost">Inventory - cost</option>
                      <option value="Inventory - sales">Inventory - sales</option>
                      <option value="Inventory on hand">Inventory on hand</option>
                      <option value="Legal fees">Legal fees</option>
                      <option value="Motor vehicle expenses">Motor vehicle expenses</option>
                      <option value="Printing and stationery">Printing and stationery</option>
                      <option value="Rent">Rent</option>
                      <option value="Repairs and maintenance">Repairs and maintenance</option>
                      <option value="Retained earnings">Retained earnings</option>
                      <option value="Sales">Sales</option>
                      <option value="Telephone">Telephone</option>
                    </select>
                  </div>
                  <div class="col-md-12">
                    <label for="exampleFormControlInput1" class="form-label">Description</label>
                    <input type="text" class="form-control" name="desc" id="" cols="30" rows="1"
                      value="{{data[8]}}" ></input>
                  </div>
  
                  <div class="col-md-3">
                    <label for="exampleFormControlInput1" class="form-label">Amount</label>
                    <input class="form-control" type="number" name="amount" id="" value="{{data[10]}}">
                  </div>
  
                  <div class="mt-4 col-md-12 text-center">
                    <button type="submit" class="btn btn-success my_btn01 w-50">Update</button>
                  </div>
  
                </div>
              </form>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer" style="display: block">
            <a href="/view-receipts" class="btn btn-dark">View All</a>
          </div>
        </div>



        
      </div>
    </div>

  </div>
</section>
<!-- /.content -->

<script>
    function changevalueofpaidbytype(){
          var select = document.getElementById('paid_by_type');
          var value = select.options[select.selectedIndex].value;
          if (value == "customer"){
            div = document.getElementById("paid_by_name");
            div.innerHTML=``
            div.innerHTML =`
                        <select class="form-control" name="customer" id="" required>
                      {% for i in customers %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {% endfor %}
                    </select>   `
          }
          if (value == "supplier"){
            div = document.getElementById("paid_by_name");
            div.innerHTML=``
            div.innerHTML =`
                        <select class="form-control" name="supplier" id="" required>
                      {% for i in suppliers %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {% endfor %}
                    </select>   `
          }
          if (value == "other"){
            div = document.getElementById("paid_by_name");
            div.innerHTML=``
            div.innerHTML =`
                        <input type="text" class="form-control" name="other_name" required>`
          }
          console.log(value);
  }
</script>

{% endblock %}