{% extends 'layout.html' %}
{% block title %}Stock Purchase Invoice{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <!-- <h1 class="m-0">Rx Purchase Invoice # {{stock_purchases[0]}}</h1> -->
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Stock Purchase Invoice # {{stock_purchases[0]}}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Stock Purchase Invoice # {{stock_purchases[0]}}</strong>
                            <button onclick="printDiv('printableArea')" class="btn btn-sm btn-success ml-4" type="button">Print Invoice</button>
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button> -->
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="printableArea" class="card-body" style="display: block;">
                        <div class="row">
                            
                        <form class="py-4 px-5 row" action="#" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Issue Date</label>
                                    <input disabled type="date" class="form-control" name="issue_date" value="{{stock_purchases[1]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Due Date</label>
                                    <input disabled type="date" class="form-control" name="due_date" value="{{stock_purchases[2]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Reference</label>
                                    <input disabled type="text" class="form-control" name="reference" value="{{stock_purchases[3]}}">
                                    <!-- <input type="text" class="form-control" name="reference"> -->
                                </div>
                                <!-- <div class="col-md-3 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Order Number</label>
                                    <input type="text" name="order_number" class="form-control" id="order_number" disabled>
    
                                </div> -->
                                <!-- <div class="col-md-3 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Customer</label>
                                    <input type="text" class="form-control" name="customer" id="customer">
                                </div> -->
                                <div class="col-md-6 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Supplier</label>
                                    <input disabled type="text" class="form-control" name="supplier" value="{{stock_purchases[5]}}">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Lense Type</label>
                                    <input type="text" name="item_name" id="lense_type" class="form-control" value="{{stock_purchases[8]}}" disabled>
                                    <!-- <input type="text" name="item_idd" id="item_idd" class="form-control" hidden> -->
                                </div>



                                <!-- <div class="col-md-5 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Billing Address</label>
                                    <input type="text" name="billing_address" class="form-control" id="bill_address">

                                </div> -->

                                <!-- <div class="col-md-6 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Lense Type</label>
                                    <input disabled type="text" name="item" class="form-control" id="" value="{{stock_purchases[8]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Qty</label>
                                    <input disabled type="number" class="form-control" name="item_qty" id="" value="{{stock_purchases[10]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Cost Price</label>
                                    <input disabled type="number" step="any" class="form-control" name="item_price" id="" value="{{stock_purchases[11]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Total</label>
                                    <input disabled type="number" step="any" class="form-control" name="total" id="" value="{{stock_purchases[12]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Status</label>
                                    <input disabled type="text" class="form-control" name="status" value="{{stock_purchases[13]}}">
                                </div> -->
                                <!-- <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Sales Price</label>
                                    <input type="text" min="0" step="any" name="sales_price" class="form-control"
                                        id="sales_price">
                                </div> -->
                                <!-- <div class="col-md-12 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Description</label>
                                    <input type="text" name="dsc" class="form-control" id="">
    
                                </div> -->
                                <div class="col-md-12 mt-4 mb-4">
                                    <div class="table-responsive">
                                        <!-- <table class="table w-auto" width="100%"> -->
                                        <table id="example" class="table table-hover align-middle" width="100%">
                                            <thead>
                                                <tr class="col-md-12">
                                                    <th width="2%"></th>
                                                    <th width="5%">SIZE</th>
                                                    <th width="5%">SPH</th>
                                                    <th width="5%">CYL</th>
                                                    <th width="5%">AXIS</th>
                                                    <th width="5%">ADD</th>
                                                    <th width="5%">Qty</th>
                                                    <th width="5%">CostPrice</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="col-md-12">
                                                    <td>OD</td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp" name="od_size" id="od_size" value="{{stock_purchases[14]}}" disabled></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            step="0.25" class="my-order-inp" name="od_sph" id="od_sph" value="{{stock_purchases[15]}}" disabled>
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            step="0.25" class="my-order-inp" name="od_cyl" id="od_cyl" value="{{stock_purchases[16]}}" disabled>
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            min="1" max="180" class="my-order-inp" name="od_axis"
                                                            id="od_axis" value="{{stock_purchases[17]}}" disabled></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            step="0.25" min="0" max="10" class="my-order-inp"
                                                            name="od_add" id="od_add" value="{{stock_purchases[18]}}" disabled>
                                                    </td>
                                                    <td><input onchange="qty_unitP_changed()" type="text" min="0"
                                                            id="od_qty" name="od_qty" class="col-md-6 my-order-inp"
                                                            style="min-width:100%;" id="od_qty" value="{{stock_purchases[45]}}" disabled></td>
                                                    <td><input onchange="qty_unitP_changed()" style="min-width:100%;"
                                                            type="text" min="0" step="any" name="od_cost_price"
                                                            class="col-md-6 my-order-inp" id="od_cost_price" value="{{stock_purchases[43]}}" disabled></td>
                                                    
                                                </tr>
                                                <tr class="col-md-12">
                                                    <td>OS</td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp" name="os_size" id="os_size" value="{{stock_purchases[22]}}" disabled></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" step="0.25"
                                                            type="text" class="my-order-inp" name="os_sph" id="os_sph" value="{{stock_purchases[23]}}" disabled>
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" step="0.25"
                                                            type="text" class="my-order-inp" name="os_cyl" id="os_cyl" value="{{stock_purchases[24]}}" disabled>
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" min="1"
                                                            max="180" type="text" class="my-order-inp" name="os_axis"
                                                            id="os_axis" value="{{stock_purchases[25]}}" disabled>
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            step="0.25" min="0" max="10" class="my-order-inp"
                                                            name="os_add" id="os_add" value="{{stock_purchases[26]}}" disabled>
                                                    </td>
                                                    <td><input onchange="qty_unitP_changed()" type="text" min="0"
                                                            name="os_qty" id="os_qty" class="col-md-6 my-order-inp"
                                                            style="min-width:100%;" value="{{stock_purchases[48]}}" disabled></td>
                                                    <td><input onchange="qty_unitP_changed()" style="min-width:100%;"
                                                            type="text" min="0" step="any" name="os_cost_price"
                                                            class="col-md-6 my-order-inp" id="os_cost_price" value="{{stock_purchases[46]}}" disabled></td>
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Total Amount</label>
                                    <input type="number" step="any" name="total_amount" class="form-control"
                                        id="total_amount" value="{{stock_purchases[12]}}" disabled>
                                </div>



                                <!-- <div class="mt-4 col-md-12 text-center">
                                    <button type="submit" class="btn btn-success my_btn01 w-50">Create</button>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer" style="display: block;">
                            <a href="/view-stock-purchase" class="btn btn-dark">Back</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>

<script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
  </script>
{% endblock %}