{% extends 'layout.html' %}
{% block title %}Rx Purchase Invoice{% endblock %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Rx Purchase Invoice # {{rx_purchases[0]}}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Rx Purchase Invoice # {{rx_purchases[0]}}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body px-0 pt-0 pb-2">
                        <!-- <h3 class="m-4 mb-0">Order To Make</h3> -->
                        <form class="py-4 px-5 row" action="#" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Issue Date</label>
                                <input disabled type="date" class="form-control" name="issue_date" value="{{rx_purchases[1]}}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Due Date</label>
                                <input disabled type="date" class="form-control" name="due_date" value="{{rx_purchases[2]}}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Reference</label>
                                <input disabled type="text" class="form-control" name="reference" value="{{rx_purchases[3]}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Supplier</label>
                                <input disabled type="text" class="form-control" name="supplier" value="{{rx_purchases[5]}}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Status</label>
                                <input disabled type="text" class="form-control" name="status" value="{{rx_purchases[13]}}">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Description</label>
                                <input disabled type="text" name="dsc" class="form-control" id="" value="{{rx_purchases[6]}}">

                            </div>
                            <div id="item-div" style="display: contents;">
                                <div class="col-md-3 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Item</label>
                                    
                                        <input disabled type="text" name="item" class="form-control" id="" value="{{rx_purchases[8]}}">
                                </div>

                                <div class="col-md-3">
                                    <label for="exampleFormControlInput1" class="form-label">Exp Account</label>
                                    <input disabled type="text" name="exp_account" class="form-control" id="" value="{{rx_purchases[9]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Qty</label>
                                    <input disabled type="number" class="form-control" name="item_qty" id="" value="{{rx_purchases[10]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Unit Price</label>
                                    <input disabled type="number" step="any" class="form-control" name="item_price" id="" value="{{rx_purchases[11]}}">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Total</label>
                                    <input disabled type="number" step="any" class="form-control" name="total" id="" value="{{rx_purchases[12]}}">
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a href="/view-rx-purchase" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

{% endblock %}