{% extends 'layout.html' %}
{% block title %}View Payment{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">View Payment # {{payment[0]}}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title"><strong>Payment # {{payment[0]}}</strong>
                    <button onclick="printDiv('printableArea')" class="btn btn-sm btn-success ml-4" type="button">Print Payment</button></h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button> -->
                </div>
            </div>
            <!-- /.card-header -->
            <div id="printableArea" class="card-body" style="display: block;">
                <div class="row">
                  <form class="py-4 px-5" action="#" method="POST" enctype="multipart/form-data">
                    <input disabled  type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
                    <div class="row g-4">
                      <div class="col-md-3">
                        <label for="exampleFormControlInput1" class="form-label">Date </label>
                        <input disabled  type="date" class="form-control" name="date" value="{{payment[1]}}">
                      </div>
                      <div class="col-md-9">
                        <label for="exampleFormControlInput1" class="form-label">Reference</label>
                        <input disabled  type="text" class="form-control" name="reference" value="{{payment[2]}}" >
                      </div>
                      <div class="col-md-12" >
                        <label for="exampleFormControlInput1" class="form-label">Paid From </label>
                        <input disabled  type="text" class="form-control" name="reference" value="{{payment[4]}}" >              
                      </div>
                      <div class="col-md-3" >
                        <label for="exampleFormControlInput1" class="form-label">Payee</label>
                        <input disabled  type="text" class="form-control" name="reference" value="{{payment[5]}}" >  
                      </div> 
                      <div class="col-md-9">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <span id="payee_name">
                          <input disabled  type="text" class="form-control" name="reference" value="{{payment[7]}}" >
                          </span>
                        </div>
                      <div class="col-md-9">
                        <label for="exampleFormControlInput1" class="form-label">Exp Account</label>
                        
                        <input disabled  type="text" class="form-control" name="reference" value="{{payment[9]}}" >
                      </div>
                      <div class="col-md-12">
                        <label for="exampleFormControlInput1" class="form-label">Description</label>
                        
                        <input disabled  type="text" class="form-control" name="reference" value="{{payment[8]}}" >
                      </div>
      
                      <div class="col-md-3">
                        <label for="exampleFormControlInput1" class="form-label">Amount</label>
                        
                        <input disabled  type="number" class="form-control" name="reference" value="{{payment[10]}}" >
                      </div>
      
                    </div>
                  </form>
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer" style="display: block;">
                    <a href="/view-payments" class="btn btn-dark">Back</a>
            </div>
        </div>



        
      </div>
    </div>

  </div>
</section>
<!-- /.content -->

<script>
    function changevalueofpaidbytype(){
          var select = document.getElementById('payee_type');
          var value = select.options[select.selectedIndex].value;
          if (value == "customer"){
            div = document.getElementById("payee_name");
            div.innerHTML=``
            div.innerHTML =`
                        <select class="form-control" name="customer" id="">
                      {% for i in customers %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {% endfor %}
                    </select>   `
          }
          if (value == "supplier"){
            div = document.getElementById("payee_name");
            div.innerHTML=``
            div.innerHTML =`
                        <select class="form-control" name="supplier" id="">
                      {% for i in suppliers %}
                      <option value="{{i[0]}}">{{i[1]}}</option>
                      {% endfor %}
                    </select>   `
          }
          if (value == "other"){
            div = document.getElementById("payee_name");
            div.innerHTML=``
            div.innerHTML =`
                        <input disabled  type="text" class="form-control" name="other_name" >`
          }
          console.log(value);
  }
</script>

<script>
  function printDiv(divName) {
   var printContents = document.getElementById(divName).innerHTML;
   var originalContents = document.body.innerHTML;

   document.body.innerHTML = printContents;

   window.print();

   document.body.innerHTML = originalContents;
}
</script>

{% endblock %}