{% extends 'layout.html' %}
{% block title %}Rx Item{% endblock %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <!-- <h1 class="m-0">Rx Item # {{rx_items[0]}}</h1> -->
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Rx Item # {{rx_items[0]}}</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Rx Item # {{rx_items[0]}}</strong>
                            <button onclick="printDiv('printableArea')" class="btn btn-sm btn-success ml-4" type="button">Print Item</button></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button> -->
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div id="printableArea" class="card-body" style="display: block;">
                        <div class="row">
                            <form class="py-4 px-5 row" action="#" method="POST"
                            enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
                            
                            <div class="col-md-9 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Lense Type</label>
                                <input disabled type="text" class="form-control" name="lense_type" value="{{rx_items[2]}}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Item Code</label>
                                <input disabled type="text" class="form-control" name="item_code" placeholder="optional" value="{{rx_items[1]}}"> 
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Unit Name</label>
                                <input disabled type="text" class="form-control" name="unit_name" value="{{rx_items[3]}}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Income Account</label>
                                
                                <input disabled type="text" class="form-control" name="income_account" value="{{income_account}}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Expense Account</label>
                                
                                <input disabled type="text" class="form-control" name="expense_account" value="{{expense_account}}">
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Purchase Price</label>
                                <input disabled type="number" step="any" min="0" class="form-control" name="purchase_price" value="{{rx_items[4]}}">
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Sales Price</label>
                                <input disabled type="number" step="any" min="0" class="form-control" name="sales_price" value="{{rx_items[5]}}">
                            </div>
                            <!-- <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Qty On Hand</label>
                                <input disabled type="number" step="any" min="0" class="form-control" name="qty" value="{{rx_items[6]}}">
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Service Cost</label>
                                <input disabled type="number" step="any" min="0" class="form-control" name="service_cost" value="{{rx_items[7]}}">
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Description</label>
                                <input disabled type="text" name="dsc" class="form-control" id="" value="{{rx_items[8]}}">

                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Total Cost</label>
                                <input disabled type="number" step="any" min="0" name="total_cost" class="form-control" id="" value="{{rx_items[9]}}">

                            </div> -->
                        </form>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer" style="display: block;">
                            <a href="/view-rx-inventory" class="btn btn-dark">Back</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
  </script>
{% endblock %}