{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Admin Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <!-- <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol> -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{users}}</h3>

                        <p>Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="/add-user" class="small-box-footer">Add <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{branches}}</h3>

                        <p>Branches</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="/add-branch" class="small-box-footer">Add <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{suppliers}}</h3>

                        <p>Suppliers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="/add-supplier" class="small-box-footer">Add <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{customers}}</h3>

                        <p>Customers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="/add-customer" class="small-box-footer">Add <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        <!-- /.row -->
        <!-- Main row -->
        <div class="col-md-6">

            <!-- PIE CHART -->
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Chart</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <canvas id="pieChart"
                        style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 405px;"
                        width="405" height="250" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Graph</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                                <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                                <div class=""></div>
                            </div>
                        </div>
                        <canvas id="lineChart"
                            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 405px;"
                            width="405" height="250" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
{% endblock %}
{% block scripts %} 
<script>
    $(function () {
      /* ChartJS
       * -------
       * Here we will create a few charts using ChartJS
       */
  
      //--------------
      //- AREA CHART -
      //--------------
  
      // Get context with jQuery - using jQuery's .get() method.
      var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
  
      var lineChartData = {
        // labels: ['£40', '2022', '£45', '£50', '£65','Family','Zam'],
        
        labels:['Rx-Orders', 'Rx-Items', 'Rx-Sales', 'Rx-Purchases', 'Stock-Orders','Stock-Items','Stock-Sales','Stock-Purchases'],
        datasets: [
          {
            label: 'Orders',
            backgroundColor: 'rgba(60,141,188,0.9)',
            borderColor: 'rgba(60,141,188,0.8)',
            pointRadius: false,
            pointColor: '#3b8bba',
            pointStrokeColor: 'rgba(60,141,188,1)',
            pointHighlightFill: '#fff',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            pointHighlightStroke: 'rgba(60,141,188,1)',
            
            // data:[315, 122, 0, 14, 6, 40, 38, 27]
            
            data: [{{rx_orders}}, {{rx_items}}, {{rx_invoices}}, {{rx_purchases}}, {{stock_orders}}, {{stock_items}}, {{stock_invoices}}, {{stock_purchases}}],
          }
        ]
      }
  
      var lineChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          // display: true
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false,
            }
          }],
          yAxes: [{
            gridLines: {
              display: false,
            }
          }]
        }
      }
  
      // This will get the first returned node in the jQuery collection.
      new Chart(lineChartCanvas, {
        type: 'line',
        data: lineChartData,
        options: lineChartOptions
      })
  
      //-------------
      //- LINE CHART -
      //--------------
      // var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
      // var lineChartOptions = $.extend(true, {}, areaChartOptions)
      // var lineChartData = $.extend(true, {}, areaChartData)
      // lineChartData.datasets[0].fill = false;
      // lineChartData.datasets[1].fill = false;
      // lineChartOptions.datasetFill = false
  
      // var lineChart = new Chart(lineChartCanvas, {
      //   type: 'line',
      //   data: lineChartData,
      //   options: lineChartOptions
      // })
  
      //-------------
      //- DONUT CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData = {
        labels:['Rx-Orders', 'Rx-Items', 'Rx-Sales', 'Rx-Purchases', 'Stock-Orders','Stock-Items','Stock-Sales','Stock-Purchases'],
        datasets: [
          {
            // data: [, , , ],
            data: [{{rx_orders}}, {{rx_items}}, {{rx_invoices}}, {{rx_purchases}}, {{stock_orders}}, {{stock_items}}, {{stock_invoices}}, {{stock_purchases}}],
            // data: ['{{rx_orders}}', '{{rx_items}}', '{{rx_sales}}', '{{rx_purchases}}',' {{stock_orders}}', '{{stock_items}}', '{{stock_sales}}', '{{stock_purchases}}'],
            backgroundColor: ['#00c0ef', '#00a65a', '#f39c12', '#f56954','#6f42c1','#e83e8c','#20c997','#343a40','#343a40'],
          }
        ]
      }
      var pieOptions = {
        maintainAspectRatio: false,
        responsive: true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
      })
  
      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      // var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      // var pieData = donutData;
      // var pieOptions = {
      //   maintainAspectRatio: false,
      //   responsive: true,
      // }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      // new Chart(pieChartCanvas, {
      //   type: 'pie',
      //   data: pieData,
      //   options: pieOptions
      // })
  
      //-------------
      //- BAR CHART -
      //-------------
      var barChartCanvas = $('#barChart').get(0).getContext('2d')
      var barChartData = $.extend(true, {}, areaChartData)
      var temp0 = areaChartData.datasets[0]
      var temp1 = areaChartData.datasets[1]
      barChartData.datasets[0] = temp1
      barChartData.datasets[1] = temp0
  
      var barChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        datasetFill: false
      }
  
      new Chart(barChartCanvas, {
        type: 'bar',
        data: barChartData,
        options: barChartOptions
      })
  
      //---------------------
      //- STACKED BAR CHART -
      //---------------------
      var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
      var stackedBarChartData = $.extend(true, {}, barChartData)
  
      var stackedBarChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            stacked: true,
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
  
      new Chart(stackedBarChartCanvas, {
        type: 'bar',
        data: stackedBarChartData,
        options: stackedBarChartOptions
      })
    })
  </script>
{% endblock %}