{% extends 'layout.html' %}
{% block title %}Make Rx Order{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <!-- <h1 class="m-0">Make Rx Order</h1> -->
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Make Rx Order</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title"><strong>Make Rx Order</strong></h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button> -->
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="display: block;">
                        <!-- <div class="row"> -->
                            <form class="py-4 px-5 row" action="/make-rx-order" method="POST"
                                enctype="multipart/form-data">
                                <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Date</label>
                                    <input id="datebox" type="date" class="form-control" name="date" value="{{today}}">
                                    <script>
                                        Date.prototype.toDateInputValue = (function () {
                                            var local = new Date(this);
                                            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                                            return local.toJSON().slice(0, 10);
                                        });
                                        document.getElementById('datebox').value = new Date().toDateInputValue();
                                    </script>
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Reference</label>
                                    <input type="text" class="form-control" name="reference">
                                </div>
                                <!-- <div class="col-md-3 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Order Number</label>
                                    <input type="text" name="order_number" class="form-control" id="order_number" disabled>
    
                                </div> -->
                                <div class="col-md-8 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Select Customer</label>
                                    <select onchange="customerselect()" id="customerSelect" name="customer"
                                        class="form-control">
                                        <option value="">Select Customer</option>
                                        {% for i in customers %}
                                        <option value="{{i[0]}}">{{i[1]}}</option>
                                        {% endfor %}

                                    </select>
                                </div>



                                <div class="col-md-6 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Billing Address</label>
                                    <input type="text" name="billing_address" class="form-control" id="bill_address">

                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Lense Type</label>
                                    <select onchange="lenseselect()" id="lenseSelect" name="item_id"
                                        class="form-control">
                                        <option value="">Select Lense Type</option>
                                        {% for i in rx_items %}
                                        <option value="{{i[0]}}">{{i[2]}}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                                <!-- <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Qty</label>
                                    <input type="number" min="0" name="qty" class="form-control">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Cost Price</label>
                                    <input type="number" min="0" step="any" name="cost_price" class="form-control"
                                        id="cost_price">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Sales Price</label>
                                    <input type="number" min="0" step="any" name="sales_price" class="form-control"
                                        id="sales_price">
                                </div> -->
                                <!-- <div class="col-md-12 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Description</label>
                                    <input type="text" name="dsc" class="form-control" id="">
    
                                </div> -->
                                <div class="col-md-12 mt-4 mb-4">
                                    <div class="table-responsive">
                                        <!-- <table class="table w-auto" width="100%"> -->
                                        <table id="example" class="table table-hover align-middle" width="100%">
                                            <thead>
                                                <tr class="col-md-12">
                                                    <th width="2%"></th>
                                                    <th width="5%">SIZE</th>
                                                    <th width="5%">SPH</th>
                                                    <th width="5%">CYL</th>
                                                    <th width="5%">AXIS</th>
                                                    <th width="5%">ADD</th>
                                                    <th width="5%">BASE</th>
                                                    <th width="5%">FH</th>
                                                    <!-- <th>PRISM NO</th> -->
                                                    <th width="5%">Prism</th>
                                                    <th width="5%">PD</th>
                                                    <th width="5%">Qty</th>
                                                    <th width="5%">CostPrice</th>
                                                    <th width="5%">SalesPrice</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="col-md-12">
                                                    <td>OD</td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp" name="od_size"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            step="0.25" class="my-order-inp" name="od_sph"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            step="0.25" class="my-order-inp" name="od_cyl"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            min="1" max="180" class="my-order-inp" name="od_axis"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            step="0.25" min="0" max="10" class="my-order-inp"
                                                            name="od_add">
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" min="1" max="10"
                                                            type="number" class="my-order-inp" name="od_base"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            min="10" max="30" step="2" class="my-order-inp"
                                                            name="od_fh">
                                                    </td>
                                                    <!-- <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp" name="od_prism_no"></td> -->
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp1" name="od_prism_detail"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp1" name="od_pd"></td>
                                                    <td><input onchange="total_amountt()" type="number" min="0" id="od_qty" name="od_qty" class="col-md-6 my-order-inp" style="min-width:100%;"></td>
                                                    <td><input style="min-width:100%;" type="number" min="0" step="any" name="od_cost_price" class="col-md-6 my-order-inp"
                                                        id="od_cost_price"></td>
                                                    <td><input onchange="total_amountt()" style="min-width:100%;" type="number" min="0" step="any" name="od_sales_price" class="col-md-6 my-order-inp"
                                                        id="od_sales_price"></td>
                                                </tr>
                                                <tr class="col-md-12">
                                                    <td>OS</td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp" name="os_size"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" step="0.25"
                                                            type="number" class="my-order-inp" name="os_sph"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" step="0.25"
                                                            type="number" class="my-order-inp" name="os_cyl"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" min="1"
                                                            max="180" type="number" class="my-order-inp" name="os_axis">
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            step="0.25" min="0" max="10" class="my-order-inp"
                                                            name="os_add">
                                                    </td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            min="1" max="10" class="my-order-inp" name="os_base"></td>
                                                    <td><input class="col-md-6" style="min-width:100%;" type="number"
                                                            min="10" max="30" step="2" class="my-order-inp"
                                                            name="os_fh">
                                                    </td>
                                                    <!-- <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp" name="os_prism_no"></td> -->
                                                    <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                            class="my-order-inp1" name="os_prism_detail"></td>
                                                            <td><input class="col-md-6" style="min-width:100%;" type="text"
                                                                    class="my-order-inp1" name="os_pd"></td>
                                                    <td><input onchange="total_amountt()" type="number" min="0" name="os_qty" id="os_qty" class="col-md-6 my-order-inp" style="min-width:100%;"></td>
                                                    <td><input style="min-width:100%;" type="number" min="0" step="any" name="os_cost_price" class="col-md-6 my-order-inp"
                                                        id="os_cost_price"></td>
                                                    <td><input onchange="total_amountt()" style="min-width:100%;" type="number" min="0" step="any" name="os_sales_price" class="col-md-6 my-order-inp"
                                                        id="os_sales_price"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="exampleFormControlInput1" class="form-label">Coating</label>
                                    <select name="treatment" class="form-control" required>
                                        <option value="" selected disabled>Select Coating</option>
                                        {% for i in treatments %}
                                        <option value="{{i[1]}}">{{i[1]}}</option>
                                        {% endfor %}

                                    </select>
                                </div>


                                <div class="col-md-3">
                                    <label for="exampleFormControlInput1" class="form-label">Services</label>
                                    <!-- <select name="tint_service" class="form-control" required>
                                        <option value="" selected disabled>Select Services</option>
                                        {% for i in tints_of_services %}
                                        <option value="{{i[1]}}">{{i[1]}}</option>
                                        {% endfor %}

                                    </select> -->
                                    
                                    <input type="text" name="tint_service" class="form-control">
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Total Amount</label>
                                    <input type="number" step="any" name="total_amount" class="form-control"
                                        id="total_amount">
                                </div>
                                <h4 class="w-100 mb-2 mt-4">Special Measurement For Digital Surfacing</h4>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">BVD</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="bvd_mm">
                                    <!--Enter BVD in mm -->

                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">FFA</label>
                                    <!-- <label for="exampleFormControlInput1" class="form-label">Face from Angle</label> -->
                                    <input style="max-width: 50%;" type="text" class="form-control" name="face_angle">
                                    <!--Enter Face from Angle-->
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">PA</label>
                                    <input style="max-width: 50%;" type="text" class="form-control"
                                        name="pantoscopic_Angle">
                                    <!--pantoscopic_Angle-->
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">NRD</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="nrd">
                                    <!--Enter NRD(Near Reading Distance)-->
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Decentr.</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="decentration">
                                    <!--Enter Decentration mm-->
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">CT or ET</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="center_edge">
                                    <!--Enter Center Thickness or Edge Thickness-->
                                </div>

                                <div class="col-md-2 mb-3">
                                    <!-- <label for="exampleFormControlInput1" class="form-label">Frame Size Horizontal
                                        mm</label> -->
                                    <!-- <label for="exampleFormControlInput1" class="form-label">FrSH</label> -->
                                    <label for="exampleFormControlInput1" class="form-label">FS Horizontal</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="frame_size_h">
                                    <!--Enter Frame Size Horizontal mm-->
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">FS Vertical</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="frame_size_v">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">FS Diagonal</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="frame_size_d">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">OC Height</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="oc_height">
                                    <!--Enter OC Height-->
                                </div>

                                <!-- <h4 class="w-100 mb-2">Monocular PD mm</h4> -->
                                <!-- <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">OD</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="od1">
                                </div>
                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">OS</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="os1">
                                </div> -->

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Occupation</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="occupation">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Driving %</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="driving">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Computer %</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="computer">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Reading %</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="reading">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Mobile %</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="mobile">
                                </div>

                                <div class="col-md-2 mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Gaming %</label>
                                    <input style="max-width: 50%;" type="text" class="form-control" name="gaming">
                                </div>
                                <!-- <div id="item-div" style="display: contents;">
                                    <div class="col-md-3 mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Item</label>
                                        <select name="item" class="form-control" id="">
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                        </select>                                
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Desc</label>
                                        <input type="text" class="form-control" name="item_desc" id="">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Qty</label>
                                        <input type="number" class="form-control" name="item_qty" id="">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Unit Price</label>
                                        <input type="number" step="any" class="form-control" name="item_price" id="">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Total</label>
                                        <input type="number" step="any" class="form-control" name="total" id="">
                                    </div>                                
                                </div> -->
                                <!-- <div class="col-md-6 mb-3">
                                    <a href="#"  onclick="add_line()" class="btn btn-sm btn-outline-secondary">Add Line</a>
                                </div> -->



                                <div class="mt-4 col-md-12 text-center">
                                    <button type="submit" class="btn btn-success my_btn01 w-50">Create</button>
                                </div>
                            </form>
                        <!-- </div> -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer" style="display: block;">

                        <a href="/view-rx-orders" class="btn btn-dark">View All Orders</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<script>
    function customerselect() {
        console.log("change")
        let e = document.getElementById("customerSelect");
        let customer_id = e.value;
        // ajax 
        $.ajax({
            type: 'POST',
            url: "/fetch-billing-address",
            data: { "customer_id": customer_id },
            success: function (response) {
                let string = response.replace("(", "");
                string = string.replace(")", "");
                string = string.replace("'", "");
                string = string.replace("'", "");
                string = string.replace(",", "");
                var array = string.split(",").map(String);
                console.log(array);
                let bill_address = document.getElementById("bill_address")
                bill_address.value = array;
            },
            error: function (response) {
                // alert the error if any error occured
                console.log(response)
            }
        })
    }


    function lenseselect() {
        console.log("change")
        let e = document.getElementById("lenseSelect");
        let lense_id = e.value;
        console.log("lense id is:", lense_id)
        $.ajax({
            type: 'POST',
            url: "/fetch-item-price",
            data: { "item_id": lense_id },
            success: function (response) {
                console.log(response)
                var array = JSON.parse("[" + response + "]");
                // var array = response.split();   
                console.log(array)
                // console.log(array[0][0])
                // console.log(array[0][1])
                let os_cost_price = document.getElementById("os_cost_price")
                let os_sales_price = document.getElementById("os_sales_price")
                let od_cost_price = document.getElementById("od_cost_price")
                let od_sales_price = document.getElementById("od_sales_price")
                os_cost_price.value = array[0][0];
                os_sales_price.value = array[0][1];
                od_cost_price.value = array[0][0];
                od_sales_price.value = array[0][1];
                
                od_qty = document.getElementById("od_qty");
                os_qty = document.getElementById("os_qty");                
                total_amount_input = document.getElementById("total_amount");
                od_qty.value = 0;
                os_qty.value = 0;
                total_amount_input.value= 0 ;
            },
            error: function (response) {
                // alert the error if any error occured
                console.log(response)
            }
        })

    }
    function total_amountt(){
        console.log("change")
        let od_qty = document.getElementById("od_qty");
        let os_qty = document.getElementById("os_qty");
        od_qty = od_qty.value;
        os_qty = os_qty.value;
        // let od_cost_price = document.getElementById("od_cost_price");
        // let os_cost_price = document.getElementById("os_cost_price");
        let od_sales_price = document.getElementById("od_sales_price");
        let os_sales_price = document.getElementById("os_sales_price");
        // od_cost_price = od_cost_price.value;
        // os_cost_price = os_cost_price.value;
        od_sales_price = od_sales_price.value;
        os_sales_price = os_sales_price.value;
        console.log("od_qty is:", od_qty);
        console.log("os_qty is:", os_qty);
        od_total_amount = od_qty*od_sales_price;
        os_total_amount = os_qty*os_sales_price;
        console.log("od_total_amount is:", od_total_amount);
        console.log("os_total_amount is:", os_total_amount);
        total_amount = od_total_amount+os_total_amount;
        console.log("total_amount is:", total_amount);
        total_amount_input = document.getElementById("total_amount");
        total_amount_input.value=total_amount;

    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
      $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });
    });
  </script>
{% endblock %}
{% block scripts %}
{% endblock %}