{% extends 'layout.html' %} 
{% block title %}Order To Make{% endblock %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Order To Make</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Order To Make</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body px-0 pt-0 pb-2">
                        <h3 class="m-4 mb-0">Order To Make</h3>
                        <form class="py-4 px-5 row" action="/order-to-make" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="zL1epAM5DGDFLcdIzIXUoMFhjerZ6JjV7lHZUGLj">                            
                            <div class="col-md-12 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Select Customer</label>
                                <select name="customer" class="form-control" id="">
                                    <option value="">Select Customer</option>
                                    {% for i in customers %}
                                                                            <option value="{{i[1]}}">{{i[1]}}</option>
                                    {% endfor %}
                                        
                                                                    </select>
                                                            </div>

                            
                            <div class="col-md-12 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Select Lense Type</label>
                                <select name="lense_type" class="form-control" id="">
                                    <option value="">Select Lense Type</option>
                                    {% for i in lense_types %}
                                                                            <option value="{{i[1]}}">{{i[1]}}</option>
                                    {% endfor %}
                                                                    </select>
                                                            </div>

                            
                            <div class="col-md-6">
                                <label for="exampleFormControlInput1" class="form-label">Treatment</label>
                                <input type="text" class="form-control" name="treatment" placeholder="Enter Treatment" value="">
                                                            </div>
                            
                            
                            <div class="col-md-6">
                                <label for="exampleFormControlInput1" class="form-label">Tints of Services</label>
                                <input type="text" class="form-control" name="tint_service" placeholder="Tints of Services" value="">
                                                            </div>
                            <div class="col-md-12 mt-4 mb-4">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>SPH</th>
                                                <th>CYL</th>
                                                <th>AXIS</th>
                                                <th>ADD</th>
                                                <th>BASE</th>
                                                <th>FH</th>
                                                <th>PRISM NO</th>
                                                <th>PRISM DETAILS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>OD</td>
                                                <td><input type="number" class="my-order-inp" name="od_sph"></td>
                                                <td><input type="number" class="my-order-inp" name="od_cyl"></td>
                                                <td><input type="number" class="my-order-inp" name="od_axis"></td>
                                                <td><input type="number" class="my-order-inp" name="od_add"></td>
                                                <td><input type="number" class="my-order-inp" name="od_base"></td>
                                                <td><input type="number" class="my-order-inp" name="od_fh"></td>
                                                <td><input type="number" class="my-order-inp" name="od_prism_no"></td>
                                                <td><input type="text" class="my-order-inp1" name="od_prism_detail"></td>
                                            </tr>
                                            <tr>
                                                <td>OS</td>
                                                <td><input type="number" class="my-order-inp" name="os_sph"></td>
                                                <td><input type="number" class="my-order-inp" name="os_cyl"></td>
                                                <td><input type="number" class="my-order-inp" name="os_axis"></td>
                                                <td><input type="number" class="my-order-inp" name="os_add"></td>
                                                <td><input type="number" class="my-order-inp" name="os_base"></td>
                                                <td><input type="number" class="my-order-inp" name="os_fh"></td>
                                                <td><input type="number" class="my-order-inp" name="os_prism_no"></td>
                                                <td><input type="text" class="my-order-inp1" name="os_prism_detail"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <h4 class="w-100 mb-2">Special Measurement For Digital Surfacing</h4>
                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">BVD in mm</label>
                                <input type="text" class="form-control" name="bvd_mm" placeholder="Enter BVD in mm">
                                
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Face from Angle</label>
                                <input type="text" class="form-control" name="face_angle" placeholder="Enter Face from Angle">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Pantoscopic Angle</label>
                                <input type="text" class="form-control" name="pantoscopic_Angle" placeholder="Enter Pantoscopic Angle">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">NRD(Near Reading Distance)</label>
                                <input type="text" class="form-control" name="nrd" placeholder="Enter NRD(Near Reading Distance)">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Decentration mm</label>
                                <input type="text" class="form-control" name="decentration" placeholder="Enter Decentration mm">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Center Thickness or Edge Thickness</label>
                                <input type="text" class="form-control" name="center_edge" placeholder="Enter Center Thickness or Edge Thickness">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Frame Size Horizontal mm</label>
                                <input type="text" class="form-control" name="frame_size_h" placeholder="Enter Frame Size Horizontal mm">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">OC Height</label>
                                <input type="text" class="form-control" name="oc_height" placeholder="Enter OC Height">
                            </div>

                            <h4 class="w-100 mb-2">Monocular PD mm</h4>
                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">OD</label>
                                <input type="text" class="form-control" name="od1" placeholder="Enter OD">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">OS</label>
                                <input type="text" class="form-control" name="os1" placeholder="Enter OS">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Occupation</label>
                                <input type="text" class="form-control" name="occupation" placeholder="Enter Occupation">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Driving %</label>
                                <input type="text" class="form-control" name="driving" placeholder="Enter Driving %">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Computer %</label>
                                <input type="text" class="form-control" name="computer" placeholder="Enter Computer %">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Reading %</label>
                                <input type="text" class="form-control" name="reading" placeholder="Enter Reading %">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Mobile %</label>
                                <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile %">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Gaming %</label>
                                <input type="text" class="form-control" name="gaming" placeholder="Enter Gaming %">
                            </div>

                            <div class="mt-4 col-md-12">
                                <button type="submit" class="btn my_btn01 w-100" style="background:purple; color:white">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <a href="#" class="btn btn-danger">View All Orders</a>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

{% endblock %}