{% extends 'layout.html' %} {% block title %}Rx Inventory{% endblock %} 
{% block head %}

<!-- for editable data table css and js  -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.4.0/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css">
<link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
{% endblock %}
{% block content %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Rx Inventory</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Rx Inventory</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <h6>Date: 25-05-2022</h6>
          </div>
          <div class="col-6">
            <h6>NEW STOCK UPDATE 25-05-2022</h6>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>/</th>
                        <th>0.00</th>
                        <th>-0.25</th>
                        <th>-0.50</th>
                        <th>-0.75</th>
                        <th>-1.00</th>
                        <th>-1.25</th>
                        <th>-1.50</th>
                        <th>-1.75</th>
                        <th>-2.00</th>
                        <th>-2.25</th>
                        <th>-2.50</th>
                        <th>-2.75</th>
                        <th>-3.00</th>
                        <th>-3.25</th>
                        <th>-3.50</th>
                        <th>-3.75</th>
                        <th>-4.00</th>
                    </tr>
                </thead>
            </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
    
    {% endblock %}

    <script>
      var editor; // use a global for the submit and return data rendering in the examples
 
 $(document).ready(function() {
     editor = new $.fn.dataTable.Editor( {
         ajax: "../php/staff.php",
         table: "#example",
         fields: [ {
                 label: "First name:",
                 name: "first_name"
             }, {
                 label: "Last name:",
                 name: "last_name"
             }, {
                 label: "Position:",
                 name: "position"
             }, {
                 label: "Office:",
                 name: "office"
             }, {
                 label: "Extension:",
                 name: "extn"
             }, {
                 label: "Start date:",
                 name: "start_date",
                 type: "datetime"
             }, {
                 label: "Salary:",
                 name: "salary"
             }
         ]
     } );
  
     // Activate an inline edit on click of a table cell
     $('#example').on( 'click', 'tbody td:not(:first-child)', function (e) {
         editor.inline( this );
     } );
  
     $('#example').DataTable( {
         dom: "Bfrtip",
         ajax: "../php/staff.php",
         order: [[ 1, 'asc' ]],
         columns: [
             {
                 data: null,
                 defaultContent: '',
                 className: 'select-checkbox',
                 orderable: false
             },
             { data: "first_name" },
             { data: "last_name" },
             { data: "position" },
             { data: "office" },
             { data: "start_date" },
             { data: "salary", render: $.fn.dataTable.render.number( ',', '.', 0, '$' ) }
         ],
         select: {
             style:    'os',
             selector: 'td:first-child'
         },
         buttons: [
             { extend: "create", editor: editor },
             { extend: "edit",   editor: editor },
             { extend: "remove", editor: editor }
         ]
     } );
 } );

    </script>
    