{% extends 'layout.html' %}
{% block title %}Receipts{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Receipts</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Receipts</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-body">
            <!-- <h3 class="m-4 mb-3">Ingoing Or Outgoing Receipts</h3> -->
            <div class="table-responsive">
              <table id="example" class="table nowrap table-hover align-middle table-bordered">
                <thead class="bg-dark text-white" >
                  <tr>
                    <th>#</th>
                    <th>View</th>
                    <th>Date</th>
                    <th>Paid By</th>
                    <th>Received In</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in data %}
                  <tr >
                    <td>{{loop.index}}</td>
                    <td><a href="/generate-receipt/{{i[0]}}"><button class="btn btn-sm btn-secondary">View</button></a></td>
                    <td>{{i[1]}}</td>
                    <td>{{i[5]}}</td>
                    <td>{{i[7]}}</td>
                    <td>{{i[8]}}</td>
                    <td>{{i[10]}}</td>
                    <td>
                      <div class="btn-group">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a style="display: block;" class="btn btn-sm btn-secondary mb-2 mx-2" href="/edit-receipts/{{i[0]}}">Edit</a>
                        <a style="display: block;" class="btn btn-sm btn-danger mb-2 mx-2" href="/deletepay/inout/{{i[0]}}">
                          Del
                        </a>
                      </div>
                    </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <a href="/add-receipts" class="btn btn-danger">Add New</a>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->


{% endblock %}
{%block scripts %}
<!-- <script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.4.0/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script> -->
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    } );
} );
</script>
{%endblock%}